# mod files
*.html
randomthings/com/slick/randomthings/RandomThings/*
*.log

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/

# other
eclipse
run
docs/node_modules

# Files from Forge MDK
forge*changelog.txt

# VSC
.vscode/
